/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

/* MAIN */
.container{
    width: 75%;
    margin: 30px auto;
    text-align: center;
}

.product{
    display: inline-block;
    width: 32%;
    margin: auto;
}

/* image */

.image{
    position: relative;
}

.image img{
    width: 100%;
}

/* aggiunte sopra l'immagine */

.percentuale-sconto{
    padding: 6px;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    color: white;
    font-weight: bold;
}

.sostenibilita{
    padding: 6px;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 54px;
    background-color: green;
    color: white;
    font-weight: bold;

}

.heart{
    width: 35px;
    height: 35px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    color: black;
}

/* info */
.info{
    text-align: left;
    height: 15%;
}

.marca{
    color: gray;
    font-size: 17px;
}

.nome-prodotto{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.prezzo{
    color: red;
    font-size: 17px;
}

.sconto{
    color: gray;
    font-size: 17px;
    text-decoration: line-through;
}